@import "vanilla-framework";
@include vanilla;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 30px;
    
    & .hide {
        display: none;
    }
}

 